.formValidation {
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 695px;
    /*background-color: var(--header-bg);*/
    background-image: url(https://phonoteka.org/uploads/posts/2021-05/1620809746_27-phonoteka_org-p-fon-dlya-marketpleisa-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.label {
    font-weight: bold;
    color: #ccc;
}
.form__control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
}

.form__control1 {

}