<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User settings</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <p>You logged as {{ request.user }} your email is {{ request.user.email }}</p>
        </div>
        <h2>User settings</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
